section {
  margin-bottom: 3rem;
}

.card {
  width: 18rem;
  height: 20rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.card-body {
  display: flex;
  flex-direction: column;

  .btn-primary {
    margin-top: auto;
  }
}