section {
  margin-bottom: 3rem;
}

#about {
  width: 18rem;
  height: 25rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

.card-body {
  display: flex;
  flex-direction: column;

  .btn-primary {
    margin-top: auto;
  }
}

.card-img-top {
  height: 10rem;
}

.navbar {
  border-bottom: 1px solid $black;
}

h6 {
	overflow: hidden;
	text-align: center;
}

h6:before,
h6:after {
	background-color: #0790ed;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

h6:before {
	right: 0.5em;
	margin-left: -50%;
}

h6:after {
	left: 0.5em;
	margin-right: -50%;
}

.isl {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.partners {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.partners-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.partner-logo {
  width: 100%;
  @include media-breakpoint-down(sm) {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.bg-light {
    background-color: #ffffff !important;
}

section { 
	 margin-top: 1rem;
}