.slick-slider {
  height:200px;
}

.slick-slider img {
  height:200px;
}

.references-slider {

  img {
    height: 180px;
    width: 300px;
  }
}

.partner-slider {
  height: 150px;

  img {
    height: 150px;
    width: 200px;
  }
}

.valentine-slider {
  height: 480px;
  position: relative;
  width: 100%;

  .slick-slide {
    width: 100%;
    margin: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
