.slick-slider {
  height:200px;
}

.slick-slider img {
  height:200px;
}

.references-slider {

  img {
    height: 180px;
    width: 300px;
  }
}

.partner-slider {
  height: 150px;

  img {
    height: 150px;
    width: 200px;
  }
}
