.slick-slider {
  height:150px;
}

.slick-slide {
  text-align: center;
}

.slick-slide img {
  vertical-align: middle;
  display: inline-block;
}

.slick-slider img {
  height:150px;
}

//.references-slider {
//
//  img {
//    height: 85px;
//    width: 125px;
//  }
//}

.partner-slider {
  height: 150px;

  img {
    height: 150px;
    width: 200px;
  }
}

.valentine-slider {
  height: 550px;
  position: relative;
  width: 100%;

  .slick-slide {
    width: 100%;
    margin: 0;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

#tis {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 24px;
  img {
    height: 90px;
    width: 300px;
  }
}

#wagelaar {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 110px;
    width: 225px;
  }
}

#toren {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 135px;
    width: 160px;
  }
}

#hf {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 110px;
    width: 135px;
  }
}

#ls {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 24px;

  img {
    height: 40px;
    width: 260px;
  }
}

#sr {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 100px;
    width: 100px;
  }
}

#tuzlee {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 100px;
    width: 260px;
  }
}

#cd {
  display: flex;
  align-items: center;
  height: 100%;

  img {
    height: 180px;
    width: 170px;
  }
}
