.sidepadding {
	padding-bottom: 15px;
}

.about {
	padding-bottom: 15px;
}

.sidecard-body{
  -webkit-box-flex:1;
  -ms-flex:1 1 auto;
  flex:1 1 auto;
  padding:7px;
}

.carousel {
  margin-bottom: 2rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    display: none;
  }
}

.carousel-item {
  height: 25rem;

  img {
    position:relative;
    top:50%;
    transform: translateY(-50%);
  }
}

